<!DOCTYPE html>
<html>
    <head>
        <title>Images</title>
    </head>
    <body>
        <div id="files-container">
        </div>
        <hr>
        <input id="file-name" type="hidden">
        <table>
            <tr>
                <td><input type="text" name="northwest"></td>
                <td></td>
                <td><input type="text" name="northeast"></td>
            </tr>
            <tr>
                <td><input type="text" name="center"></td>
                <td><img id="the-image" style="height: 400px;"></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="text" name="southwest"></td>
                <td></td>
                <td><input type="text" name="southeast"></td>
            </tr>
        </table>
        <hr>
        <input id="apply-text" type="button" value="Apply Text">
    </body>
    
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    <script>
        jQuery(document).ready(function() {
            jQuery("#files-container").on("click", ".input-file-link", function(e) {
                e.preventDefault();
                e.stopPropagation();
                
                var fileName = jQuery(this).data("file-name");
                jQuery("#the-image").attr("src", "inputimages/" + fileName);
                jQuery("#file-name").val(fileName);
            });
            
            function populateFiles() {
                jQuery.ajax({
                    type: "get",
                    url: "/index/get-files",
                    dataType: "html",
                    cache: false
                }).done(function(result) {
                    jQuery("#files-container").html(result);
                });
            }
            populateFiles();
            
            jQuery("#apply-text").click(function() {
                var nw = jQuery("[name=northwest]").val();
                var ne = jQuery("[name=northeast]").val();
                var sw = jQuery("[name=southwest]").val();
                var se = jQuery("[name=southeast]").val();
                var center = jQuery("[name=center]").val();
                jQuery.ajax({
                    type: "post",
                    url: "/index/post-file",
                    dataType: "json",
                    data: {
                        fileName: jQuery("#file-name").val(),
                        northwest: nw,
                        northeast: ne,
                        southwest: sw,
                        southeast: se,
                        center: center
                    }
                }).done(function(result) {
                    populateFiles();
                });
            });
        });
    </script>

</html>
